<div class="container-fluid">
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body table-responsive-sm">
            <table class="table" style="font-size: 12px;" id="Busca">
                <thead>
                    <tr>
                        <td scope="col" align="center" bgcolor="#DFEFFF"><strong>Sub-Código</strong></td>
                        <td scope="col" align="center" bgcolor="#DFEFFF"><strong>Descrição</strong></td>
                        <td scope="col" align="center" bgcolor="#DFEFFF"><strong>Modulos</strong></td>
                        <td scope="col" align="center" bgcolor="#DFEFFF"><strong>Status</strong></td>
                    </tr>
                </thead>
                <tbody>
                    {{#each aModulos}}
                        <tr>
                            <td><strong>{{Codigo}} - {{Descricao}}</strong></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {{#each ../aModulos2}}
                            {{#if_eq Codigo ../Codigo}}
                                <tr>
                                    <td align="center">{{SubCodigo}}</td>
                                    <td>{{Descricao}}</td>
                                    <td align="center">{{Modulos}}</td>
                                    <td align="center">{{Status}} </td>
                                </tr>
                            {{/if_eq}}
                        {{/each}}
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>