<div class="container-fluid">
    <div class="container">
        <div class="card border shadow h-100 py-2">
            <form action="/Usuarios/Profiles" method="post">
                {{#each aProfiles}}
                    <div class="card-body">                      
                        <label>
                            <strong>Dados Usuários</strong>
                        </label>
                        <hr>
                        <table class="table table-borderless">
                            <tbody>
                                <tr scope="col">
                                    <td>
                                        <pre>Código: </pre>
                                    </td>
                                    <td><input type="text" class="form-control" value="{{id}}" disabled></td>
                                </tr>
                                <tr scope="col">
                                    <td>
                                        <pre>E-Mail: </pre>
                                    </td>
                                    <td><input type="text" class="form-control" value="{{EMAIL}}" disabled></td>
                                </tr>
                                <tr scope="col">
                                    <td>
                                        <pre>Discord: </pre>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" id="discord" name="discord" value="{{DISCORD}}" required>
                                    </td>
                                </tr>
                                <tr scope="col">
                                    <td>
                                        <pre>WhatsApp: </pre>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" id="fone" name="fone" value="{{FONE}}" required>
                                    </td>
                                </tr>
                                <tr scope="col">
                                    <td>
                                        <pre>Senha: </pre>
                                    </td>
                                    <td><input type="password" class="form-control" id="senha" name="senha"></td>
                                </tr>
                                <tr scope="col">
                                    <td>
                                        <pre>Repetir Senha: </pre>
                                    </td>
                                    <td><input type="password" class="form-control" id="senha2" name="senha2"></td>
                                </tr>
                            </tbody>
                        </table>
                        <pre>* Preecha os campos "Senha" e "Repetir Senha" se desejar realizar a alteração de sua senha.</pre>
                        <div align="right">
                            <input type="hidden" class="form-control" value="{{id}}" id="id" name="id">
                            <button class="btn btn-outline-warning btn-sm" id="Imp">Alterar</button>
                            <pre></pre>
                        </div>
                    </div>
                {{/each}}                    
            </form>
            <div class="card-body">
                <center>
                    {{#each erros}}
                        <div class="alert alert-danger">{{texto}}</div>
                    {{/each}}
                    
                    {{#each error_msg}}
                        <div class="alert alert-danger">Já existe um conta com esse e-mail</div>
                    {{/each}}
                </center>
            </div>
        </div>
    </div>
</div>