
<div class="container-fluid">
    <div class="card border shadow  empresa-fundo border-left-primary border-right-primary col-lg-4">
        <pre></pre>
        <div class="card-menu">LISTA DE USUÁRIOS</div>
        <pre></pre>
    </div>
    </br>
    <div class="container">
        <div class="card border shadow h-100 py-2">
            <div class="card-body table-responsive-sm">
                <table class="table" style="font-size: 12px;">
                    <thead>
                        <tr>
                            <th scope="col" align="center" bgcolor="#DFEFFF">#</th>
                            <th scope="col" align="center" bgcolor="#DFEFFF">Nome</th>
                            <th scope="col" align="center" bgcolor="#DFEFFF">E-Mail</th>
                            <th scope="col" align="center" bgcolor="#DFEFFF">Admin</th>
                            <th scope="col" align="center" bgcolor="#DFEFFF">Usuário ERP</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each aUsuarios}}
                            <tr>
                                <th scope="row">{{id}}</th>
                                <td>{{Nome}}</td>
                                <td>{{Email}}</td>
                                <td>{{Admin}}</td>
                                <td>{{UserERP}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>