
<div class="container-fluid">
    {{#each erros}}
        <div class="alert alert-danger"> {{texto}} </div>
    {{else}}

    {{/each}}

    {{#if aAcessoMenuEdit}}
        <div class="container">
            <div class="card table-responsive-sm shadow">
                <div class="card border shadow h-100 py-2">
                    <div class="card-body">
                        <table class="table" style="font-size: 12px;" id="Busca">
                            <thead>
                                <tr>
                                    <td scope="col" align="center" bgcolor="#DFEFFF"><strong>Código Usuário</strong></td>
                                    <td scope="col" align="center" bgcolor="#DFEFFF"><strong>Usuário</strong></td>
                                    <td scope="col" align="center" bgcolor="#DFEFFF"><strong></strong></td>
                                    <td scope="col" align="center" bgcolor="#DFEFFF"><strong>Ação</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each aUsuarios}}
                                <tr>
                                    <td align="center">{{ID_User}}</td>
                                    <td align="center">{{Nome}}</td>
                                    <td align="center"></td>
                                    <td align="center">
                                    <form action="/Admin/Acessos/edit" method="post">
                                        <input type="hidden" id="ID_User" name="ID_User" value="{{ID_User}}">
                                        <button class="btn btn-outline-warning btn-sm" type="submit">Alterar</button>
                                    </form>    
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}


    {{#if aAcessoMenuEditer}}
        <div class="container">
            <div class="card border shadow h-100 py-2">
                <div class="card-body">
                    <table class="table" style="font-size: 12px;" id="Busca">
                        <thead>
                            <tr>
                                <td scope="col" align="center" bgcolor="#DFEFFF"><strong>Modulo</strong></td>
                                <td scope="col" align="center" bgcolor="#DFEFFF"><strong>Adicionar </strong></td>
                                <td scope="col" align="center" bgcolor="#DFEFFF"><strong>Alterar </strong></td>
                                <td scope="col" align="center" bgcolor="#DFEFFF"><strong>Remover </strong></td>
                                <td scope="col" align="center" bgcolor="#DFEFFF"><strong>Visualizar </strong></td>
                                <td scope="col" align="center" bgcolor="#DFEFFF"><strong>Status</strong></td>
                                <td scope="col" align="center" bgcolor="#DFEFFF"><strong>Ação</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each aModulos}}
                                <tr>
                                    <td><strong>{{Descricao}}</strong></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {{#each ../aAcessos}}
                                    {{#if_eq ../Codigo Ace_Codigo}}
                                        <tr>
                                            <form action="/Admin/Acessos/editer" method="post">
                                                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                    {{Descricao2}}</td>
                                                <td align="center">
                                                    <select id="Adicionar" name="Adicionar">
                                                        <option value="">{{Adicionar}}</option>
                                                        <option value=""></option>
                                                        <option value="1">Ativo</option>
                                                        <option value="2">Desativado</option>
                                                    </select>
                                                </td>
                                                <td align="center">
                                                    <select id="Alterar" name="Alterar">
                                                        <option value="">{{Alterar}}</option>
                                                        <option value=""></option>
                                                        <option value="1">Ativo</option>
                                                        <option value="2">Desativado</option>
                                                    </select>
                                                </td>
                                                <td align="center">
                                                    <select id="Remover" name="Remover">
                                                        <option value="">{{Remover}}</option>
                                                        <option value=""></option>
                                                        <option value="1">Ativo</option>
                                                        <option value="2">Desativado</option>
                                                    </select>
                                                </td>
                                                <td align="center">
                                                    <select id="Visualizar" name="Visualizar">
                                                        <option value="">{{Visualizar}}</option>
                                                        <option value=""></option>
                                                        <option value="1">Ativo</option>
                                                        <option value="2">Desativado</option>
                                                    </select>
                                                </td>
                                                <td align="center">
                                                    <select id="Status" name="Status">
                                                        <option value="">{{Status}}</option>
                                                        <option value=""></option>
                                                        <option value="1">Ativo</option>
                                                        <option value="2">Desativado</option>
                                                    </select> 
                                                </td>
                                                <td align="center">
                                                    <input type="hidden" id="ID_User" name="ID_User" value="{{ID_User}}">
                                                    <input type="hidden" id="Codigo" name="Codigo" value="{{Ace_Codigo}}">
                                                    <input type="hidden" id="SubCodigo" name="SubCodigo" value="{{SubCodigo}}">
                                                    <button class="btn btn-outline-success btn-sm" type="submit">Salvar</button>
                                                </td>
                                            </form>   
                                        </tr>
                                    {{/if_eq}}
                                {{/each }}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {{/if}}

</div>