<div class="container-fluid">
    {{#each erros}}
        <div class="alert alert-danger"> {{texto}} </div>
    {{else}}

    {{/each}}

    {{#if aEquipamentosEDITList}}
        <div class="container">
            <div class="card border shadow h-100 py-2">
                <pre></pre>
                <div class="card-header"><strong>Alterar Cadastro de Equipamentos</strong></div>
                <div class="card-body">
                    <table class="table" style="font-size: 12px;">
                        <thead>
                            <tr>
                                <th scope="col" align="center" bgcolor="#DFEFFF">#</th>
                                <th scope="col" align="center" bgcolor="#DFEFFF">Código</th>
                                <th scope="col" align="center" bgcolor="#DFEFFF">Empresa</th>
                                <th scope="col" align="center" bgcolor="#DFEFFF">Descrição</th>
                                <th scope="col" align="center" bgcolor="#DFEFFF">IP</th>
                                <th scope="col" align="center" bgcolor="#DFEFFF">Nominal</th>
                                <th scope="col" align="center" bgcolor="#DFEFFF">Status</th>
                                <th scope="col" align="center" bgcolor="#DFEFFF">Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each aEquipamentosEDITList}}
                            <tr>
                                <td>{{id}}</td>
                                <td>{{Codigo}}</td>
                                <td>{{EmpresasID}}</td>
                                <td>{{Descricao}}</td>
                                <td>{{IP}}</td>
                                <td>{{Nominal}}</td>
                                <td>{{Status}}</td>
                                <td><a href="/admin/Equipamentos/edit/{{id}}"><button class="btn btn-primary">Alterar</button></a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {{/if}}

    {{#each aEquipamentos}}
        <div class="container">
            <form action="/admin/Equipamentos/edit" method="POST">
                <label><strong>Alterar Cadastro de Equipamentos</strong></label>
                <div class="card">
                    <div class="card-body">
                        <input type="hidden" id="id" name="id" class="form-control" value="{{id}}" >
                        <p></p>
                        <div>    
                            <label>Código</label>
                            <input type="text" id="Codigo" name="Codigo" class="form-control" value="{{Codigo}}">
                        </div>
                        <p></p>                
                        <div>   
                            <label>Descrição</label>
                            <input type="text" id="Descricao" name="Descricao" class="form-control" value="{{Descricao}}" placeholder="Descrição">
                        </div>
                        <p></p>
                        <div>   
                            <label>IP</label>
                            <input type="text" id="IP" name="IP" class="form-control" value="{{IP}}" placeholder="IP">
                        </div>
                        <p></p>
                        <div>   
                            <label>Nominal</label>
                            <input type="text" name="Nominal" id="Nominal" value="{{Nominal}}" class="form-control" placeholder='Nominal'>
                        </div>
                        <p></p>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{Status}}" name="Status" id="Status">
                            <label class="form-check-label" for="defaultCheck1">Status</label>
                        </div>
                        <p></p>
                        <div>   
                            <button type="submit" class="btn btn-primary">Alterar</button>
                        </div>
                    </div>
                </div>        
            </form>
        </div>
        <script>
            var cStatus = '{{Status}}'
            if(cStatus=="1"){
                Status.checked = true
            }
        </script>
    {{/each}}

</div>    