
<div class="container-fluid">
    {{#each erros}}
        <div class="alert alert-danger"> {{texto}} </div>
    {{else}}

    {{/each}}
    <div class="card border shadow  empresa-fundo border-left-primary border-right-primary col-lg-6">
        <pre></pre>
        <div class="card-menu">ALTERAR CALENDÁRIO
            <pre></pre>
        </div>
    </div>
    </br>
    <div class="row">
        <pre>  </pre>
        <div class="card border shadow empresa-fundo" >
            <pre></pre>
            <div class="card-menu border-left-danger">EMPRESA</div>
            <div class="card-body col-sm ">
                <form action="edit" method="POST" Id="Buscar">
                    <input type="hidden" id="Empresa">
                    {{#each aListEmpresas}}
                        {{#if_eq Codigo ../aEmpresa.FILIAL}}
                            <input type="hidden" id="Checked" value="{{Codigo}}">
                        {{/if_eq}}
                    {{/each}}

                    {{#foreach aListEmpresas}}
                        {{#if $first}} 
                            <div class="form-check">
                                <input class="form-check-input" type="radio" onchange="CarregaDados()" name="Empresa" id="cEmp_{{Codigo}}" value="{{Codigo}}" checked>
                                <pre class="form-check-label">{{Descricao}}</pre>
                            </div>
                        {{/if}}
                        {{#if $between}} 
                            <div class="form-check">
                                <input class="form-check-input" type="radio" onchange="CarregaDados()" name="Empresa" id="cEmp_{{Codigo}}" value="{{Codigo}}">
                                <pre class="form-check-label">{{Descricao}}</pre>
                            </div>
                        {{/if}}
                    {{/foreach}}
                </form>
                <pre></pre>    
            </div>
        </div>
    </div>
    <pre></pre>
    <div class="container">
        <div class="card shadow table-responsive-sm">
            <div class="card border shadow h-100 py-2">
                <div class="card-body">
                    <table class="table" style="font-size: 12px;" id="Busca">
                        <thead>
                            <tr>
                                <td scope="col" align="center" bgcolor="#DFEFFF"><strong>Data</strong></td>
                                <td scope="col" align="center" bgcolor="#DFEFFF"><strong>Dia Semana</strong></td>
                                <td scope="col" align="center" bgcolor="#DFEFFF"><strong>Semana</strong></td>
                                <td scope="col" align="center" bgcolor="#DFEFFF"><strong>Dia do Ano</strong></td>
                                <td scope="col" align="center" bgcolor="#DFEFFF"><strong>Dia Útil</strong></td>
                                <td scope="col" align="center" bgcolor="#DFEFFF"><strong>Feríado</strong></td>
                                <td scope="col" align="center" bgcolor="#DFEFFF"><strong>Ação</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each aCalendario}}
                                <tr>
                                    <form action="/Admin/Calendario/editer" method="post">
                                        <td align="center">{{DATA}}</td>
                                        <td align="center">{{DIASEMANA}}</td>
                                        <td align="center">{{SEMANA}}</td>
                                        <td align="center">{{DIADOANO}}</td>
                                        <td align="center">
                                            <select id="Adicionar" name="UTIL">
                                                <option value="">{{UTIL}}</option>
                                                <option value=""></option>
                                                <option value="1">Sim</option>
                                                <option value="2">Não</option>
                                            </select>
                                        </td>
                                        <td align="center">
                                            <select id="Adicionar" name="FERIADO">
                                                <option value="">{{FERIADO}}</option>
                                                <option value=""></option>
                                                <option value="1">Sim</option>
                                                <option value="2">Não</option>
                                            </select>
                                        </td>
                                        <td align="center">                                            
                                            <input type="hidden" id="ID" name="ID" value="{{ID}}">
                                            <button class="btn btn-outline-warning btn-sm" type="submit">Alterar</button>                                               
                                        </td>
                                    </form> 
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    /*
    $(document).ready(function () {
        $('#Busca').DataTable({
            "language": {
                "lengthMenu": "Visualizações de _MENU_ registros por página",
                "zeroRecords": "Nada encontrado",
                "info": " Página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponível",
                "infoFiltered": "(filtrado de _MAX_ registros no total)"
            }
        });
    });
*/
    function CarregaDados() {
        if(cEmp_010101.checked) { Empresa.value = cEmp_010101.value }
        if(cEmp_020101.checked) { Empresa.value = cEmp_020101.value }
        if(cEmp_030101.checked) { Empresa.value = cEmp_030101.value }
        if(cEmp_030102.checked) { Empresa.value = cEmp_030102.value }

        Buscar.submit();
    }

    setTimeout(function(){ 
        if(Checked.value == cEmp_010101.value) { cEmp_010101.checked = true } else { cEmp_010101.checked = false }
        if(Checked.value == cEmp_020101.value) { cEmp_020101.checked = true } else { cEmp_020101.checked = false }
        if(Checked.value == cEmp_030101.value) { cEmp_030101.checked = true } else { cEmp_030101.checked = false }
        if(Checked.value == cEmp_030102.value) { cEmp_030102.checked = true } else { cEmp_030102.checked = false }
    }, 100)

</script>